@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.wrapper {
  label {
    display: flex;
  }

  input[type='radio']:checked + .itemCard {
    background-color: colors.$GRAYE;
  }

  .itemCard {
    display: flex;
    align-items: center;
    width: 660px;
    padding: 10px 20px;
    font-size: 16px;
    user-select: none;
    background-color: colors.$WHITE;

    &:hover {
      background-color: colors.$GRAYE;
    }

    svg {
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }
    @include responsive.mobileOnly {
      width: 100%;
    }
  }
}

.errMsg {
  padding-left: 25px;
}
