@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.wrapper {
  width: 660px;
  padding: 16px 0;
  margin-top: 8px;
  overflow: hidden;
  background-color: colors.$WHITE;
  border-radius: 20px;

  .loading {
    padding: 25px;
  }

  h3 {
    padding: 8px 24px;
    font-size: 13px;
    line-height: 1.6;
    color: colors.$HUMANS_GRAYA;
    letter-spacing: -0.018em;
  }
}
@include responsive.mobileOnly {
  .wrapper {
    display: none;
    width: 100%;
    margin-top: 0;
  }

  .modal {
    display: block;
  }
}
