@use '/src/styles/mixins/responsive';

.btnBox {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  margin-bottom: 20px;
  @include responsive.mobileOnly {
    width: 90%;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}

@include responsive.mobileOnly {
  .btnBox {
    width: 100%;
  }
}
