@use '/src/styles/mixins/responsive';

.btnBox {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  margin-bottom: 20px;
  @include responsive.mobileOnly {
    width: 90%;
  }

  button {
    transition: 0.8s;

    &:hover {
      transform: scale(1.5) rotate(360deg);
    }
  }

  .icon {
    display: block;
    width: 30px;
    height: 30px;
  }
}

@include responsive.mobileOnly {
  .btnBox {
    width: 100%;
  }
}
